<div class="body-sec">
  <div class="body-sec-head">
    <p>School Details</p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="sec basic-detils">
        <p class="head">Basic Profile</p>
        <div class="tbl">
          <table class="basic-det">
         
            <tr>
              <td >School Name</td>
              <td>THSLC </td>
            </tr>
            <tr>
              <td >Address</td>
              <td >Kannur</td>
            </tr>
            <tr>
              <td >School Type</td>
              <td >Lp</td>
            </tr>
            <tr>
              <td >State</td>
              <td >Kerala</td>
            </tr>
            <tr>
              <td >District</td>
              <td >Kannur</td>
            </tr>
            

          </table>
        </div>


      </div>

    </div>


    <div class="col-sm-8">

      <div class="sec">

        <p class="head">Authorities</p>
        <div class="tbl">
          <table>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Contact Number</th>

            </tr>

            <tr>
              <td>1</td>
              <td>A</td>
              <td>20</td>
            </tr>
            <tr>
              <td>1</td>
              <td>A</td>
              <td>20</td>
            </tr>
            <tr>
              <td>1</td>
              <td>A</td>
              <td>20</td>
            </tr>
          </table>
        </div>



      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-sm-7">
      <div class="teacher-sec">
        <p class="head">Teacher List</p>
        <div class="tbl">
          <table>

            <tr>
              <th>name</th>
              <th>Designation</th>
              <th>Subject</th>
              <th>Phone Number</th>

            </tr>

            <tr>
              <td>Akshay</td>
              <td>developer</td>
              <td>bsc</td>
              <td>7994685006</td>
            </tr>
            <tr>
              <td>Akshay</td>
              <td>developer</td>
              <td>bsc</td>
              <td>7994685006</td>
            </tr>
            <tr>
              <td>Akshay</td>
              <td>developer</td>
              <td>bsc</td>
              <td>7994685006</td>
            </tr>
          </table>
        </div>


      </div>

    </div>


    <div class="col-sm-5">

      <div class="std-sec">

        <p class="head">School Class</p>
        <div class="tbl">
          <div class="std-head-sec">
            <div class="left d-flex align-items-center">
              <button class="btn btn-sm  btn-light d-flex align-items-center justify-content-center">
                <i class="fas fa-less-than" style="font-size: 9px;color: #444444;"></i>
              </button>
            </div>
            <div class="center d-flex align-items-center">
              1st Standard
            </div>

            <div class="right d-flex align-items-center">
              <button class="btn btn-sm btn-light d-flex align-items-center justify-content-center">
                <i class="fas fa-greater-than" style="font-size: 9px;color: #444444;
 "></i>
              </button>
            </div>
          </div>
          <table>



            <tr>

              <th style="width:50%">Division</th>
              <th  style="width:50%">Student Count</th>

            </tr>

            <tr>
              <td>A</td>
              <td>20</td>
            </tr>
            <tr>
              <td>A</td>
              <td>20</td>
            </tr>
            <tr>
              <td>A</td>
              <td>20</td>
            </tr>
          </table>
        </div>



      </div>

    </div>
  </div>

</div>