<div style="padding:20px 90px;">
    <div class="row">
      <div class="col-sm-7">
        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          
          <ng-template ngFor let-item [ngForOf]="selectedItems">
            <div class="custom-selected-item">
              <i class="pi pi-map-marker"></i>
              <span>{{ item.item_text }}</span>
            </div>
          </ng-template>
  
          <!-- Custom template for dropdown options -->
          <ng-template ngFor let-item [ngForOf]="dropdownList">
            <div class="custom-dropdown-item">
              <i class="pi pi-globe"></i>
              <span>{{ item.item_text }}</span>
            </div>
          </ng-template>
          
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  