<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>



<div class="main-container mt-4" [class.shifted]="isSidebarClosed" [class.blur-content]="isTransferPopup" (click)="overlayClick()">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Non Teachers List
      <span class="badge badge-secondary">{{ nonTeacherList.length }}</span>
    </h4>
    <div class="d-flex justify-content-between align-items-end gap-3">
      <!-- <div class="dropdown">
                <button id="filterButton" class="btn btn-outline-secondary" (click)="toggleFilterDropdown()">
                    <i class="fas fa-filter"></i> Filter
                </button>
                <div id="filterDropdown" class="dropdown-menu p-3" [class.show]="showFilterModal">
                    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
                        <h5>Filter</h5>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <select formControlName="subjectFilter" class="form-control">
                                <option value="">All Subjects</option>
                                <option value="Mathematics">Mathematics</option>
                                <option value="Physics">Physics</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Malayalam">Malayalam</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="retiringIn">Retiring In</label>
                            <input formControlName="retiringInMonths" type="number" class="form-control"
                                placeholder="Retiring In">
                        </div>

                        <div class="form-group">
                            <label for="school">School</label>
                            <input formControlName="schoolNameFilter" type="text" class="form-control"
                                placeholder="School Name">
                        </div>


                        <div class="form-group">
                            <div class="experience-range-container">
                                <label for="experienceYearRange">Experience Year Range</label>
                                <div class="slider-container">
                                    <input type="range" id="experienceYearRange" formControlName="minExperienceYear"
                                        [min]="0" [max]="100" class="range-slider min-slider"
                                        (input)="onSliderChange()">
                                    <input type="range" id="experienceYearRange" formControlName="maxExperienceYear"
                                        [min]="0" [max]="100" class="range-slider max-slider"
                                        (input)="onSliderChange()">
                                    <div class="slider-track"></div>
                                </div>
                                <div class="range-inputs">
                                    <input type="number" formControlName="minExperienceYear" class="range-input" min="0"
                                        max="100" (input)="onInputChange()">
                                    <input type="number" formControlName="maxExperienceYear" class="range-input" min="0"
                                        max="100" (input)="onInputChange()">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" formControlName="newRecruit">
                                Check if New Recruit
                            </label>
                        </div>

                        <div class="form-group d-flex justify-content-between mt-3">
                            <button type="button" class="btn btn-secondary" (click)="resetFilter()">Reset
                                Filter</button>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </form>
                </div>
            </div> -->
      <button class="btn btn-success" [routerLink]="['/non-teachers/add']">
        <i class="fas fa-plus-circle"></i> Add Non Teacher Details
      </button>
    </div>
  </div>


  <!-- <div *ngIf="showPopup && selectedTeacher" [ngStyle]="{'top.px': mouseY, 'left.px': mouseX}"
    class="popup-teacher-info p-5">
    <div class="popup-header">
      <img [src]="getTeacherImage || 'assets/icons/user.png'" alt="Teacher Photo" class="popup-photo">
      <div class="popup-title ">

        <p class="p-s">{{ selectedTeacher?.name }}</p>
      
        <p class="p-sc">{{ selectedTeacher?.schoolName }}</p>
        <p class="p-e"><a href="">{{ selectedTeacher?.email }}</a></p>
        <p class="p-m">{{ selectedTeacher?.phoneNumber }}</p>
      </div>

    </div>
    <hr class="line">
    <div class="popup-body-t p-2">
      <div class="d-flex justify-content-between pe-4">
        <div>
          <p class="p-h">Date Of Join</p>
          <p class="p-v">{{ selectedTeacher?.dateofJoin|date: 'dd/MM/yyyy' }}</p>
        </div>
        <div>
          <p class="p-h">Report To</p>
          <p class="p-v">{{ selectedTeacher?.reportedTo }}</p>
        </div>
      </div>

    </div>

  </div>


  <div *ngIf="showSchoolPopup && selectedSchool" [ngStyle]="{'top.px': mouseY, 'left.px': mouseX}"
    class="popup-teacher-info">
    <div class="popup-header p-3">
      <img [src]="getschoolImage || 'assets/icons/Group 1640.png'" alt="School Photo" class="popup-photo">
      <div class="popup-title">
        <p class="p-s">{{ selectedSchool?.name }}</p>
        <p class="p-a">{{ selectedSchool?.address }}</p>
        <p class="p-e"><a href="">{{ selectedSchool?.email }}</a></p>
        <p class="p-m">{{ selectedSchool?.phone }}</p>
      </div>
    </div>
    <hr class="line">
    <div class="popup-body p-2">
      <div class="">
        <p class="p-a">Authorities</p>
        <div>
          <p class="val">{{ selectedSchool?.principal }}</p>
          <p class="p-p">Principal</p>
        </div>
        <div class="">
          <p class="val">{{ selectedSchool?.vicePrincipal }}</p>
          <p class="p-p">Vice Principal</p>
        </div>
      </div>

    </div>



  </div> -->
  <app-employee-hover-popup [showToggle]="showPopup" [selectedTeacher]="selectedTeacher"
    [position]="{'top.px': mouseY, 'left.px': mouseX}" />

  <app-school-hover-popup [showToggle]="showSchoolPopup" [selectedSchool]="selectedSchool"
    [position]="{'top.px': mouseY, 'left.px': mouseX}" />
    <app-employee-menu-click-list-menu class="menuPop" [isMenuVisible]="isMenuVisible" [mouseY]="mouseMenuY" [mouseX]="mouseMenuX"
    (clickListEvent)="listClickFromMenuList($event)" [menuListItems]="menuListItems"></app-employee-menu-click-list-menu>
  <div class="table-responsive">

    <app-table [rowData]="nonTeacherTableRows" [colDefs]="nonTeacherTableColumns" [paginationConfig]="paginationConfig"
      (OnRowMouseOverEvent)="rowMouseHover($event)" (OnRowMouseOutEvent)="rowMouseHoverOut($event)"
      (onCellClickedEvent)="onCellClick($event)"></app-table>

  </div>

</div>
<div class="t-request-popup-main" *ngIf="isTransferPopup">

  <div class="header d-flex justify-content-between">
    <p>Transfer Request- {{selectMenuRowData.name}}</p>
    <div>
      <a (click)="closeTransferPopup()"> <img src="assets/icons/close.jpg" alt=""></a>

    </div>

  </div>
  <hr>


  <div class="body">

    <form action="" [formGroup]="transferRequestForm">
      <div class="row mb-1">
        <label class="col-sm-12 col-form-label">Transfer From</label>
        <div class="col-sm-12">
       
          <input type="text" class="form-control" formControlName="fromSchool"  [readonly]="true">
          <div
            *ngIf="transferRequestForm.get('fromSchool')?.invalid && (transferRequestForm.get('fromSchool')?.['dirty'] || transferRequestForm.get('fromSchool')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="transferRequestForm.get('fromSchool')?.errors?.['required']"></small>
            <small class="text-danger" *ngIf="transferRequestForm.get('fromSchool')?.errors?.['pattern']">Invalid
              Pattern</small>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-12 col-form-label">Transfer To</label>
        <div class="col-sm-12">
          <select class="form-control" placeholder="select" formControlName="toSchool">
            <option disabled>Select School</option>
            <option *ngFor="let school of schoolDropDownList; let i=index;" [ngValue]="school">{{school.schoolName}}
            </option>
          </select>
          <div
            *ngIf="transferRequestForm.get('toSchool')?.invalid && (transferRequestForm.get('toSchool')?.['dirty'] || transferRequestForm.get('toSchool')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="transferRequestForm.get('toSchool')?.errors?.['required']">Field is
              required</small>
            <small class="text-danger" *ngIf="transferRequestForm.get('toSchool')?.errors?.['pattern']">Invalid
              Pattern</small>
          </div>
        </div>
      </div>
      <div class="row mb-1 ">
        <label class="col-sm-12 col-form-label">Document</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" formControlName="documentUrl">
          <div
            *ngIf="transferRequestForm.get('documentUrl')?.invalid && (transferRequestForm.get('documentUrl')?.['dirty'] || transferRequestForm.get('documentUrl')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="transferRequestForm.get('documentUrl')?.errors?.['required']">Field is
              required</small>
            <small class="text-danger" *ngIf="transferRequestForm.get('documentUrl')?.errors?.['pattern']">Invalid
              Pattern</small>
          </div>
        </div>
      </div>

      <div class="row mb-1">
        <label class="col-sm-12 col-form-label">Date</label>
        <div class="col-sm-12">
          <input type="date" class="form-control" formControlName="date">
          <div
            *ngIf="transferRequestForm.get('date')?.invalid && (transferRequestForm.get('date')?.['dirty'] || transferRequestForm.get('date')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="transferRequestForm.get('date')?.errors?.['required']">Field is
              required</small>
            <small class="text-danger" *ngIf="transferRequestForm.get('date')?.errors?.['pattern']">Invalid
              Pattern</small>
          </div>
        </div>
      </div>

      <div class="row mb-1 ">
        <label class="col-sm-12 col-form-label">Comment (if any)</label>
        <div class="col-sm-12">
          <input type="text" placeholder="Comment ..." class="form-control" style="height: 70px;"
            formControlName="comment">
            <div
            *ngIf="transferRequestForm.get('comment')?.invalid && (transferRequestForm.get('comment')?.['dirty'] || transferRequestForm.get('comment')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="transferRequestForm.get('comment')?.errors?.['required']">Field is
              required</small>
            <small class="text-danger" *ngIf="transferRequestForm.get('comment')?.errors?.['pattern']">Invalid
              Pattern</small>
          </div>

        </div>
      </div>

      <div class="btn-sec d-flex justify-content-center">

        <button class="sub-btn" (click)="transferRequestFormSubmit()"> <img class="me-2"
            src="assets/icons/tr-sub-icon.png" alt="">Submit</button>
      </div>
    </form>


  </div>

</div>