.main-container {

  // padding: 2rem;
  margin-left: 60px;
  margin-top: 60px;
  // padding-top: 50px !important;
  transition: margin-left 0.3s;
}

.main-container.shifted {
  margin-left: 0 !important;
  margin-top: 44px;
  margin-top: 60px;
}


.content-main {
  margin: 0px 44px;

}




.tab-container {
  width: 87%;
}

.tab-header {
  display: flex;
  position: relative;
  // border-bottom: 2px solid #ccc;
}

.tab-button {
  // flex: 1;
  margin-left: 30px;
  width: 20%;
  padding: 10px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab-button.active {
  font-weight: bold;
  color: #007bff;
}

.tab-indicator {
  position: absolute;
  bottom: 0;

  height: 3px;
  background-color: #007bff;
  transition: width 0.3s, left 0.3s;
}

.tab-content {
  padding: 20px;
  font-size: 16px;
}

.eye-ic {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 14px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 50%;
  }
}
