<app-topbar (toggleSidebarEvent)="toggleSidebar()"></app-topbar>
<app-sidebar [isSidebarClosed]="getSidebarToggle"></app-sidebar>


<div class="main-container" [class.shifted]="isSidebarClosed">
  <app-back-button [url]="'/dashboard'" class=""></app-back-button>
  <div class="content-main">
    <div class="header">
      <h4>Settings</h4>
    </div>
    <!-- <h3>Settings</h3> -->
    <div class="tab-container">
      <!-- Tab Header -->
      <div class="tab-header">
        <button *ngFor="let tab of tabs; let i = index" class="tab-button" [class.active]="activeTabIndex === i"
          (click)="onTabClick($event, i)">
          {{ tab }}
        </button>
        <!-- Optional Tab Indicator -->
        <div class="tab-indicator" [style.width.px]="indicatorWidth" [style.left.px]="indicatorLeft"></div>
      </div>

      <!-- Tab Content -->
      <div class="tab-content mt-5">
        <div *ngIf="activeTabIndex === 0">
          <app-reset-password></app-reset-password>
        </div>
         <div *ngIf="activeTabIndex === 1">
        <app-profile-details-edit></app-profile-details-edit>
        </div>
        <div *ngIf="activeTabIndex === 2"> </div>
        <div *ngIf="activeTabIndex === 3"> </div>
      </div>
    </div>
  </div>


</div>