<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>
<!-- container start -->
<div class="main-container mt-4" [class.shifted]="isSidebarClosed" [class.blur-content]="isLeavePopup"
    (click)="overlayClick()">
    <app-back-button [url]="'/dashboard'" class=""></app-back-button>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Leave Application List
            <span class="badge badge-secondary">{{ this.leaveList.length }}</span>
        </h4>
        <!-- <button class="btn btn-success" [routerLink]="['/schools/add-school']">
      <i class="fas fa-plus-circle"></i> Add School Details
    </button> -->
    </div>

    <app-employee-hover-popup [showToggle]="showPopup" [selectedTeacher]="hoveredEmployee"
        [position]="{'top.px': mouseY, 'left.px': mouseX}" />

    <app-school-hover-popup [showToggle]="showSchoolPopup" [selectedSchool]="selectedSchool"
        [position]="{'top.px': mouseY, 'left.px': mouseX}" />
    <div class="table-responsive" *ngIf="leaveList.length">

        <app-employee-menu-click-list-menu class="menuPop" [isMenuVisible]="isMenuVisible" [mouseY]="mouseMenuY"
            [mouseX]="mouseMenuX" (clickListEvent)="listClickFromMenuList($event)"
            [menuListItems]="menuListItems"></app-employee-menu-click-list-menu>



        <!-- <app-employee-hover-popup [showToggle]="showPopup" [selectedTeacher]="selectedTeacher"
  [position]="{'top.px': mouseY, 'left.px': mouseX}" />

<app-school-hover-popup [showToggle]="showSchoolPopup" [selectedSchool]="selectedSchool"
[position]="{'top.px': mouseY, 'left.px': mouseX}"  /> -->


        <!-- table start -->
        <app-table [rowData]="leaveTableRows" [colDefs]="leaveTableColumns" [paginationConfig]="paginationConfig"
            (OnRowMouseOverEvent)="rowMouseHover($event)" (OnRowMouseOutEvent)="rowMouseHoverOut($event)"
            (onCellClickedEvent)="onCellClicked($event)" [tableColorChange]="tableColorChange"></app-table>
        <!-- table end -->

    </div>
    <app-no-data-found *ngIf="!leaveList.length"></app-no-data-found>
</div>
<!-- container end -->

<div class="l-request-popup-main" *ngIf="isLeavePopup">

    <div class="header d-flex justify-content-between">
      <p>Leave Request-{{selectMenuRowData.employeeName}}</p>
      <div>
        <a (click)="closeLeavePopup()"> <img src="assets/icons/close.jpg" alt=""></a>
      </div>
    </div>
  
    <hr>
    <div class="body">
  
      <form action="" [formGroup]="leaveRequestForm">
  
  
        <div class="row mb-1">
  
          <label for="" class="col-sm-12 col-form-label"><span>Start Date</span><span
              class="text-danger ms-1 mad-f">*</span></label>
          <div class="col-sm-12">
            <input type="date" [min]="minDate" class="form-control disabled-input" formControlName="fromDate">
            <div
              *ngIf="leaveRequestForm.get('fromDate')?.invalid && (leaveRequestForm.get('fromDate')?.['dirty'] || leaveRequestForm.get('fromDate')?.['touched']  || submitted)">
              <small class="text-danger" *ngIf="leaveRequestForm.get('fromDate')?.errors?.['required']">Field is
                required</small>
              <small class="text-danger" *ngIf="leaveRequestForm.get('fromDate')?.errors?.['invalidDate']">Invalid Date
                .</small>
              <small class="text-danger" *ngIf="leaveRequestForm.get('fromDate')?.errors?.['minDate']">Past dates are not
                allowed .</small>
            </div>
          </div>
        </div>
        <div class="row mb-1">
  
          <label for="" class="col-sm-12 col-form-label"><span>End Date</span><span
              class="text-danger ms-1 mad-f">*</span></label>
          <div class="col-sm-12">
            <input type="date" [min]="minDate" class="form-control disabled-input" formControlName="toDate">
            <div
            *ngIf="leaveRequestForm.get('toDate')?.invalid && (leaveRequestForm.get('toDate')?.['dirty'] || leaveRequestForm.get('toDate')?.['touched']  || submitted)">
            <small class="text-danger" *ngIf="leaveRequestForm.get('toDate')?.errors?.['required'] ">Field is
              required</small>
            <small class="text-danger" *ngIf="leaveRequestForm.get('toDate')?.errors?.['invalidDate']">Invalid Date
              .</small>
            <small class="text-danger" *ngIf="leaveRequestForm.get('toDate')?.errors?.['minDate']">Past dates are not
              allowed .</small>
          </div>
          </div>
        </div>
        <div class="row mb-1 " *ngIf="getDocument">
          <label class="col-sm-12 col-form-label">Document</label>
          <div class="col-sm-12 ms-1">
            <!-- <input type="text" placeholder="Comment ..." class="form-control" style="height: 70px;"
              formControlName="documentUrl"> -->
              <img  (click)="documentClick(getDocument)"  [src]="transform(getDocument)" width="32" height="32" alt="">
              <span><p  (click)="documentClick(getDocument)" class="file-name ms-2" style="display:inline; color:rgb(77, 98, 184);  text-decoration: underline; cursor: pointer;">view</p></span>
              
            <!-- <div
              *ngIf="leaveRequestForm.get('documentUrl')?.invalid && (leaveRequestForm.get('documentUrl')?.['dirty'] || leaveRequestForm.get('documentUrl')?.['touched']  || submitted)">
              <small class="text-danger" *ngIf="leaveRequestForm.get('documentUrl')?.errors?.['required']">Field is
                required</small>
              <small class="text-danger" *ngIf="leaveRequestForm.get('documentUrl')?.errors?.['pattern']">Invalid
                Pattern</small>
            </div>
   -->
          </div>
        </div>
  
        <div class="row mb-1 ">
          <label class="col-sm-12 col-form-label">Comment</label>
          <div class="col-sm-12">
            <input type="text" placeholder="Comment ..." class="form-control" style="height: 70px;"
              formControlName="comment">
            <div
              *ngIf="leaveRequestForm.get('comment')?.invalid && (leaveRequestForm.get('comment')?.['dirty'] || leaveRequestForm.get('comment')?.['touched']  || submitted)">
              <small class="text-danger" *ngIf="leaveRequestForm.get('comment')?.errors?.['required']">Field is
                required</small>
              <small class="text-danger" *ngIf="leaveRequestForm.get('comment')?.errors?.['pattern']">Invalid
                Pattern</small>
            </div>
  
          </div>
        </div>
        

      
  
        <div class="btn-sec d-flex justify-content-center">
  
          <button class="sub-btn" (click)="leaveRequestFormSubmit()"> <img class="me-2" src="assets/icons/tr-sub-icon.png" alt="">{{isRejectedClick ? "Reject" :
            "Approve"}}</button>
        </div>
      </form>
  
  
    </div>
  
  </div>