<p>promotion-eligible-list works!</p>
<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>
<div class="container mt-4" [class.shifted]="isSidebarClosed">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Promotion Eligibility List 
            <span class="badge badge-secondary">{{ this.promotionEligibleList.length }}</span>
        </h4>
    </div>

    <app-table-list [tableData]="promotionEligibleList" [displayedColumns]="displayColumns"></app-table-list>

</div>