<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>



<div class="main-container mt-4" [class.shifted]="isSidebarClosed" (click)="overlayClick()">

    <app-back-button [url]="'/dashboard'" class=""></app-back-button>

    <h4>Promotion Relinquishment</h4>
    <div style="width: 100%; height:100%; display: flex; justify-content: center;">
        <form style="width:100%; max-width: 500px;" [formGroup]="relinquishmentForm">

            <div class="row g-4 mb-4">
                <div class="col-md-12 ">
                    <label for="" class="mb-1">
                        <span>Teacher</span>
                        <span class="text-danger ms-1 mad-f"></span>
                    </label> <ng-multiselect-dropdown [placeholder]="'Select Teacher'" 
                        [settings]="teacherDropdownSettings" [data]="teacherDropdownData" formControlName="teacher"
                        (onSelect)="onTeacherFilterChange()" />
                </div>
            </div>
            <div class="row mb-3 mb-4">
                <!-- <div class="col-md-4"></div> -->
                <div class="col-md-12">
                    <label for="" class="mb-1">
                        <span>Date</span>
                        <span class="text-danger ms-1 mad-f"></span>
                    </label>
                    <input type="date" class="form-control mb-3" formControlName="date"
                    [min]="currentDateISO" [max]="nextYearISO">{{nextYearISO}}

                    <select class="form-select" id="yearSelector" formControlName="date">
                        <option value="" [disabled]="true">Select Year</option>
                        <option [ngValue]="item" *ngFor="let item of generateYears">{{ item }}</option>
                    </select>
                    
                </div>
            </div>


            <div class="row mb-3 g-0">

                <div class="col-md-12">
                    <label for="" class="mb-1">
                        <span>Document</span>
                        <span class="text-danger ms-1 mad-f">*</span>
                    </label>
                    <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="drag-drop-main">
                        <div class="custom-file-upload">
                            <div class="content">
                                <i class="bi bi-cloud-upload" style="font-size: 30px; color: #000000;"></i>
                                <p class="lab">Drag File To Upload</p>
                                <p class="or">or</p>
                                <input (change)="onDocumentChange($event)" #fileInput type="file" accept=".jpeg,.jpg"
                                    style="display: none;">
                                <button type="button" class="btn btn-primary" (click)=" fileInput.click()">Browse
                                    File</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2 mt-3" *ngIf="getDocument()">
                <div class="col-sm-3"></div>
                <div class="col-md-12">
                    <div class="uploaded-file">
                        <div style="display: flex; align-items: center; gap: 9px; padding: 0 0px;">
                            <img [src]="transform(getDocument())" alt="" style="width:28px; height:30px;">
                            <div class="r-l" style="display: flex; flex-direction: column; align-items: start;">
                                <p class="f-n" style="margin: 0;">{{ getTruncatedFileName(fileName, 25) }}</p>
                                <p class="f-s" *ngIf="fileSize" style="margin: 0;">{{ fileSize }} - 100% uploaded
                                </p>
                            </div>
                        </div>
                        <div class="right me-3">
                            <i (click)="removeLeaveApplicationDocument()" class="fa-regular fa-trash-can"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  mt-5">
                <div class="col-12 d-flex justify-content-center">
                  
                    <button type="button" class="btn btn-secondary me-2" [routerLink]="['/dashboard']">Cancel</button>
    
                    <button type="button" class="btn btn-success" (click)="onSubmit()">
                    Submit   
                    </button>
                </div>
            </div>
        </form>

    </div>





</div>