img {
    height: 100px;
    width: 100px;
}
input[readonly] {
    pointer-events: none;
    cursor: default;
}

.row label{
    // display: flex;

}
.row label span:first-child{
    // flex:1;
   
}
.row label span:last-child{
    // flex:1;
    display: none;
   
}