<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>
<!-- container start -->
<div class="main-container mt-4" [class.shifted]="isSidebarClosed" 
   >
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>School Vacant Position Lists
            <span class="badge badge-secondary">{{ this.vacantPositionList.length }}</span>
        </h4>
        <!-- <button class="btn btn-success" [routerLink]="['/schools/add-school']">
      <i class="fas fa-plus-circle"></i> Add School Details
    </button> -->
    </div>

    <!-- <app-employee-hover-popup [showToggle]="showPopup" [selectedTeacher]="hoveredEmployee"
    [position]="{'top.px': mouseY, 'left.px': mouseX}" />

  <app-school-hover-popup [showToggle]="showSchoolPopup" [selectedSchool]="selectedSchool"
    [position]="{'top.px': mouseY, 'left.px': mouseX}" />
  <div class="table-responsive">

    <app-employee-menu-click-list-menu class="menuPop" [isMenuVisible]="isMenuVisible" [mouseY]="mouseMenuY"
      [mouseX]="mouseMenuX" (clickListEvent)="listClickFromMenuList($event)"
      [menuListItems]="menuListItems"></app-employee-menu-click-list-menu> -->



    <!-- <app-employee-hover-popup [showToggle]="showPopup" [selectedTeacher]="selectedTeacher"
  [position]="{'top.px': mouseY, 'left.px': mouseX}" />

<app-school-hover-popup [showToggle]="showSchoolPopup" [selectedSchool]="selectedSchool"
[position]="{'top.px': mouseY, 'left.px': mouseX}"  /> -->


    <!-- table start -->
    <app-table [rowData]="vacantPositionRows" [colDefs]="vacantPositionColumns" [paginationConfig]="paginationConfig"
       ></app-table>
    <!-- table end -->

</div>

<!-- container end -->