<app-topbar (toggleSidebarEvent)="isSidebarClosed = !isSidebarClosed"></app-topbar>
<app-sidebar [isSidebarClosed]="isSidebarClosed"></app-sidebar>


<div class="container" [class.shifted]="isSidebarClosed">
    <div class="stats-panel">
        <h2 class=" mb-4" style="padding: 0px 2rem;">Welcome Admin</h2>

        <!-- <div class="d-flex" > -->
            <div class="row" style="padding: 0px  0px 0px 2rem ;">
                <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 ">
                    <div class="card" title="Total Teachers" >
                        <div class="card-body d-flex align-items-center" [routerLink]="['/teachers/teacher-list']">
                            <i class="fas fa-user icon-lg mr-3" ></i>
                            <div class="text-left">
                                <h5 class="card-title mb-1">Total Teachers</h5>
                                <h3>{{dashboardStats.activeTeachers}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body d-flex align-items-center" [routerLink]="['/non-teachers/non-teacher-list']">
                            <i class="fas fa-user icon-lg mr-3"></i>
                            <div class="text-left">
                                <h5 class="card-title mb-1">Total Non Teachers</h5>
                                <h3>{{dashboardStats.activeTeachers}}</h3>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 ">
                    <div class="card" title="Total Schools">
                        <div class="card-body d-flex align-items-center" [routerLink]="['/schools/school-list']">
                            <i class="fas fa-school icon-lg mr-3"></i>
                            <div class="text-left">
                                <h5 class="card-title mb-1">Total Schools</h5>
                                <h3>{{dashboardStats.openSchools}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  mb-3 mb-lg-0 ">
                    <div class="card" title="Vacant Positions">
                        <div class="card-body d-flex align-items-center"  [routerLink]="['/schools/vacant-positions']">
                            <i class="fas fa-briefcase icon-lg mr-3"></i>
                            <div class="text-left">
                                <h5 class="card-title mb-1">Vacant Positions</h5>
                                <h3>{{dashboardStats.vacantPositions}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 " >
                    <div class="card last-c" title="Promotion Eligible" >
                        <div class="card-body d-flex align-items-center"
                            [routerLink]="['/teachers/eligible-promotions']">
                            <i class="fas fa-user-check icon-lg mr-3"></i>
                            <div class="text-left">
                                <h5 class="card-title mb-1">Promotion Eligible</h5>
                                <h3>{{dashboardStats.promotionEligible}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="main-panel">
        <!-- Teaching Staff Section -->
        <div class="row mb-4">
            <div class="col-12">
                <!-- <p class="mb-3 sub-head">Teaching Staff</p> -->
                <div class="sub-head-container">
                    <p class="sub-head">Teaching Staff</p>
                    <div class="sub-head-line"></div>
                </div>
                <div class="d-flex flex-wrap gap-3">
                    <div class="sub-card" title="Teacher List" [routerLink]="['/teachers/teacher-list']">
                        <img src="../../../assets/icons/teach.png" alt="Help Icon" >
                        <h6>Teachers List</h6>
                    </div>
                    <div class="sub-card" title=" Add New Teacher" [routerLink]="['/teachers/add-teacher']">
                        <img src="../../../assets/icons/add-t.png" alt="Help Icon" >
                        <h6>Add New Teacher</h6>
                    </div>
                    <div class="sub-card" title="Update Teacher">
                        <img src="../../../assets/icons/edit.png" alt="Help Icon" >
                        <h6>Update Teacher Details</h6>
                    </div>
                    <div class="sub-card" title="Transfer Request" [routerLink]="['/teachers/transfer-request-list']">
                        <img src="../../../assets/icons/transfer.png" alt="Help Icon" >
                        <h6>Transfer Request</h6>
                    </div>
                    <div class="sub-card" title="Transfer Completed" [routerLink]="['/teachers/transfer-completed']">
                        <img src="../../../assets/icons/transfer-com.png" alt="Help Icon" >
                        <h6>Transfer Completed</h6>
                    </div>
                    <div class="sub-card" title="Leave Applications" [routerLink]="['/teachers/leave']">
                        <img src="../../../assets/icons/Group 1643.png" alt="Help Icon">
                        <h6>Leave Application</h6>
                    </div>
                    <div class="sub-card" title="Promotion Application" [routerLink]="['/teachers/promotion-requests']">
                        <img  src="../../../assets/icons/promotion.png" alt="Help Icon">
                        <h6>Promotion Application</h6>
                    </div>
                    <div class="sub-card" title="Promotion Completed" [routerLink]="['/teachers/promotion-completed']">
                        <img    src="../../../assets/icons/promotion-comm.png" alt="Help Icon">
                        <h6>Promotion Completed</h6>
                    </div>
                    <div class="sub-card" title="Retired Teachers" [routerLink]="['/teachers/retired-teachers']" >
                        <img   src="../../../assets/icons/retired.png" alt="Help Icon">
                        <h6>Retired Techers</h6>
                    </div>

                    <div class="sub-card" title="Promotion Eligible Priorities" [routerLink]="['/teachers/promotion-priorities']" >
                        <img    src="../../../assets/icons/promotion-com.png" alt="Help Icon">
                        <h6>Promotion Eligible Priorities</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Non-Teaching Staff Section -->
        <div class="row mb-4">
            <div class="col-12">
                
                <div class="sub-head-container">
                    <p class="sub-head">Non Teaching Staff</p>
                    <div class="sub-head-line"></div>
                </div>

                <div class="d-flex flex-wrap gap-3" >
                    <div class="sub-card" [routerLink]="['/non-teachers/non-teacher-list']" title="Non Teachers list">
                        <img src="../../../assets/icons/staff.png" alt="Help Icon" >
                        <h6>List</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/non-teachers/add']" title="Add New ">
                        <img src="../../../assets/icons/add-t.png" alt="Help Icon" >
                        <h6>Add New</h6>
                    </div>
                    <div class="sub-card" title="Update Non Teacher">
                        <img src="../../../assets/icons/edit.png" alt="Help Icon" >
                        <h6>Update Details</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/non-teachers/transfer-request']" title="Transfer Request">
                        <img src="../../../assets/icons/transfer.png" alt="Help Icon" width="30" height="30">
                        <h6>Transfer Request</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/non-teachers/transfer-completed']" title="Transfer Complete">
                        <img src="../../../assets/icons/transfer-com.png" alt="Help Icon" >
                        <h6>Transfer Completed</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/non-teachers/leave']" title="Leave Application">
                        <img src="../../../assets/icons/Group 1643.png" alt="Help Icon" width="30" height="30">
                        <h6>Leave Application</h6>
                    </div>
                    <div class="sub-card" title="Retired Teachers" [routerLink]="['/non-teachers/retired-staff']" >
                        <img   src="../../../assets/icons/retired.png" alt="Help Icon">
                        <h6>Retired Techers</h6>
                    </div>
                    <!-- <div class="sub-card">
                        <img   src="../../../assets/icons/promotion.png" alt="Help Icon" width="30" height="30">
                        <h6>Promotion Application</h6>
                    </div>
                    <div class="sub-card" >
                        <img   src="../../../assets/icons/promotion-com.png" alt="Help Icon">
                        <h6>Promotion Completed</h6>
                    </div> -->
                    
                  
                </div>
            </div>
        </div>

        <!-- Schools Section -->
        <div class="row">
            <div class="col-12">
              
                <div class="sub-head-container" >
                    <p class="sub-head">Schools</p>
                    <div class="sub-head-line"></div>
                </div>
                <div class="d-flex flex-wrap gap-3" title="School List">
                    <div class="sub-card" [routerLink]="['/schools/school-list']">
                        <img src="../../../assets/icons/school-list.png" alt="Help Icon" width="30" height="30">
                        <h6>School List</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/schools/add-school']" title="Add New School">
                        <img src="../../../assets/icons/school-add.png" alt="Help Icon" width="30" height="30">
                        <h6>Add New School</h6>
                    </div>
                    <div class="sub-card"  title="Update School">
                        <img src="../../../assets/icons/edit.png" alt="Help Icon" width="30" height="30">
                        <h6>Update School Details</h6>
                    </div>
                    <div class="sub-card" [routerLink]="['/teachers/eligible-promotions']" title="Promotion Eligible List">
                        <img src="../../../assets/icons/promotion-com.png" alt="Help Icon" width="30" height="30">
                        <h6>Promotion Eligible List</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





