<div *ngIf="showToggle && selectedTeacher" [ngStyle]="position"
class="popup-teacher-info p-5">
<div class="popup-header">
  <img [src]="getTeacherImage || 'assets/icons/user.png'" alt="Teacher Photo" class="popup-photo">
  <div class="popup-title ">

    <p class="p-s">{{ selectedTeacher?.name }}</p>
    <p class="p-a">{{ selectedTeacher?.subject }}</p>
    <p class="p-sc">{{ selectedTeacher?.schoolName }}</p>
    <p class="p-e"><a href="">{{ selectedTeacher?.email }}</a></p>
    <p class="p-m">{{ selectedTeacher?.phoneNumber }}</p>
  </div>

</div>
<hr class="line">
<div class="popup-body-t p-2">
  <div class="d-flex justify-content-between pe-4">
    <div>
      <p class="p-h">Date Of Join</p>
      <p class="p-v">{{ selectedTeacher?.dateofJoin|date: 'dd/MM/yyyy' }}</p>
    </div>
    <div>
      <p class="p-h">Report To</p>
      <p class="p-v">{{ selectedTeacher?.reportedTo }}</p>
    </div>
  </div>

</div>

</div>