.main {
    display: flex;
    align-items: center;
    justify-content: center;
  
    form {
      width: 50%;
    }
  }

  .eye-ic {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
  }
  