<div class="sidebar" [class.closed]="isSidebarClosed">
  <a [routerLink]="['/dashboard']" routerLinkActive="active">
      <i class="fas fa-home"></i>
  </a>
  <a [routerLink]="['/profile']" routerLinkActive="active">
      <i class="fas fa-user"></i>
  </a>
  <a [routerLink]="['/courses']" routerLinkActive="active">
      <i class="fas fa-graduation-cap"></i>
  </a>
  <a [routerLink]="['/jobs']" routerLinkActive="active">
      <i class="fas fa-briefcase"></i>
  </a>
  <a [routerLink]="['/settings']" routerLinkActive="active">
      <i class="fas fa-cog"></i>
  </a>
</div>
