.sidebar {
    width: 60px;
    background-color: #333;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: width 0.3s;
    z-index: 1;
}

.sidebar.closed {
    width: 0;
    overflow: hidden;
}

.sidebar i {
    color: white;
    margin: 20px 0;
    font-size: 20px;
}

.sidebar a.active i {
    color: #8d9094;
    // background-color: #555; /* Slightly lighter background for the active item */
    // border-radius: 5px; /* Optional: Rounded corners for the active icon */
}

.sidebar a {
    text-decoration: none;
}