<app-topbar (toggleSidebarEvent)="toggleSidebar()"></app-topbar>
<app-sidebar [isSidebarClosed]="getSidebarToggle"></app-sidebar>


<!-- add-school comntainer start -->
<div class="container" [class.shifted]="isSidebarClosed">
    <div class="container-fluid d-flex flex-column  ">


        <!-- add-school form start -->
        <form style="margin-top:100px; margin:80px 25%;" [formGroup]="schoolDetailsForm" (ngSubmit)="onSubmit()"
            novalidate>

            <!-- School Name -->
            <div class="row mb-3">
               
                <label for="schoolName" class="col-sm-3 col-form-label"><span>School Name</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="schoolName" formControlName="schoolName"
                        required>
                    <div
                        *ngIf="schoolDetailsForm.get('schoolName')?.invalid && (schoolDetailsForm.get('schoolName')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['required']">
                            School Name is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['maxlength']">
                            School Name must not exceed 100 characters.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['pattern']">
                            Invalid Pattern .
                        </small>
                    </div>
                </div>
            </div>

            <!-- School Type -->
            <div class="row mb-3">
                
                <label for="schoolType" class="col-sm-3 col-form-label"><span>School Type</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" id="schoolType" formControlName="schoolTypeID" required
                        (ngModelChange)="changeSchoolType($event)">
                        <option value="" [disabled]="true">Select School Type</option>
                        <option *ngFor="let type of schoolTypes" [ngValue]="type">{{type.schoolTypeName}}</option>
                    </select>
                    <div
                        *ngIf="schoolDetailsForm.get('schoolTypeID')?.invalid && (schoolDetailsForm.get('schoolTypeID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolTypeID')?.errors?.['required']">
                            School Type is required.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Address -->
            <div class="row mb-3">
                <label for="address" class="col-sm-3 col-form-label"><span>Address</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="address" rows="3" formControlName="address" required></textarea>
                    <div
                        *ngIf="schoolDetailsForm.get('address')?.invalid && (schoolDetailsForm.get('address')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('address')?.errors?.['required']">
                            Address is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('address')?.errors?.['maxlength']">
                            Address must not exceed 255 characters.
                        </small>
                    </div>
                </div>
            </div>

            <!-- City ID -->
            <div class="row mb-3">
                <label for="cityId" class="col-sm-3 col-form-label"><span>City</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" id="schoolType" formControlName="cityID" required>
                        <option value="" disabled>Select City</option>
                        <option *ngFor="let city of cities" [ngValue]="city">{{ city.city }}</option>
                    </select>
                    <div
                        *ngIf="schoolDetailsForm.get('cityID')?.invalid && (schoolDetailsForm.get('cityID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('cityID')?.errors?.['required']">
                            City ID is required.
                        </small>
                    </div>
                </div>
            </div>

            <!-- State -->
            <div class="row mb-3">
                <label for="state" class="col-sm-3 col-form-label"><span>State</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="state" formControlName="state" required>
                    <div
                        *ngIf="schoolDetailsForm.get('state')?.invalid && (schoolDetailsForm.get('state')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('state')?.errors?.['required']">
                            State is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('state')?.errors?.['pattern']">
                            State must contain only letters.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Pincode -->
            <div class="row mb-3">
                <label for="pincode" class="col-sm-3 col-form-label"><span>Pincode</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="pincode" formControlName="pincode" required>
                    <div
                        *ngIf="schoolDetailsForm.get('pincode')?.invalid && (schoolDetailsForm.get('pincode')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('pincode')?.errors?.['required']">
                            Pincode is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('pincode')?.errors?.['pattern']">
                            Pincode must be a 6-digit number.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="email" class="col-sm-3 col-form-label"><span>Email</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                    <div
                        *ngIf="schoolDetailsForm.get('email')?.invalid && (schoolDetailsForm.get('email')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('email')?.errors?.['required']">
                            Email is required.
                        </small>
                       
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('email')?.errors?.['pattern']">Invalid email format.</small>
                    </div>
                </div>
            </div>

            <!-- Phone -->
            <div class="row mb-3">
                <label for="phone" class="col-sm-3 col-form-label"><span>Phone</span><span class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">

                    <div class="input-group">
                        <span class="input-group-text">+91</span>
                        <input type="text" class="form-control" id="phone" formControlName="phone" required>
                    </div>
                    <div
                        *ngIf="schoolDetailsForm.get('phone')?.invalid && (schoolDetailsForm.get('phone')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('phone')?.errors?.['required']">
                            Phone number is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('phone')?.errors?.['pattern']">
                            Phone number must be a 10-digit number.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Status ID -->
            <!-- <div class="row mb-3">
            <label for="statusID" class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-9">
                <select class="form-control" id="statusID" formControlName="statusID" required>
                    <option value="" disabled>Select Status</option>
                    <option *ngFor="let status of statusList" [value]="status.id">{{ status.statusName }}</option>
                </select>
                <div *ngIf="schoolDetailsForm.get('statusID')?.invalid && (schoolDetailsForm.get('statusID')?.touched || submitted)">
                    <small class="text-danger" *ngIf="schoolDetailsForm.get('statusID')?.errors?.['required']">
                        Status selection is required.
                    </small>
                </div>
            </div>
        </div> -->

            <!-- Photo ID -->
            <!-- <div class="row mb-3">
                <label for="photoID" class="col-sm-3 col-form-label">Photo</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" id="photoID" (change)="onFileSelected($event)" required>
                    <div
                        *ngIf="schoolDetailsForm.get('photoID')?.invalid && (schoolDetailsForm.get('photoID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('photoID')?.errors?.['required']">
                            Photo ID is required.
                        </small>
                    </div>
                </div>
            </div> -->

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label">Photo</label>
                <div class="col-sm-7 d-flex align-items-center">

                    <input type="file" #fileInput style="display: none;" class="form-control" id="photoID"
                        (change)="onFileSelected($event)" required>


                    <button type="button" class="btn btn-md btn-teal-default-border me-3" (click)="fileInput.click()">
                        <i class="bi bi-upload"></i>
                        {{ schoolDetailsForm.get('photoID')?.value?.photoImageName &&
                        schoolDetailsForm.get('photoID')?.value?.photoImageName != 'No Document' &&
                        schoolDetailsForm.get('photoID')?.value?.photoImageName != '' ? "Update" : "Upload" }}
                    </button>


                    <div class="uploaded-file d-flex align-items-center">
                        <span>
                            <!-- <i class="bi bi-file-earmark-pdf-fill text-danger me-2"></i> -->
                            <img class="schoolImg" [src]="getSchoolImage || 'assets/icons/no-image.png'" alt="">
                            <strong class="ms-2">{{
                                schoolDetailsForm.get('photoID')?.value?.photoImageName?.substring(schoolDetailsForm.get('photoID')?.value?.photoImageName?.lastIndexOf('/')
                                + 1)}}</strong>
                        </span>
                    </div>


                </div>
                <!-- <div class="col-sm-7 offset-sm-3 mt-2">
                  <small class="text-muted">
                    <i class="bi bi-info-circle "></i> Only PDF files are allowed for upload.
                  </small>
                </div> -->
            </div>

            <div *ngIf="divisionsFormArray.controls.length !==0">
                <div class="row">
                    <label for="photoID" class="col-sm-3 col-form-label">Divisions</label>
                </div>


                <div class="row mb-3 mt-3" *ngFor="let division of divisionsFormArray.controls; let i = index"
                    formArrayName="divisions">
                    <label for="state" class="col-sm-3 col-form-label">Division {{i+1}}</label>
                    <div class="col-sm-4 mt-2" [formGroupName]="i">
                        <div class="input-group">
                            <input type="number" placeholder="Enter Student Count" class="form-control" id="phone"
                                formControlName="studentCount" required>
                        
                        </div>
                        <div
                        *ngIf="division.get('studentCount')?.invalid && (division.get('studentCount')?.touched || submitted)">
                        <small class="text-danger" *ngIf="division.get('studentCount')?.errors?.['required']">
                            Student Count is required.
                        </small>

                    </div>
                    </div>
                </div>
            </div>




        </form>
        <!-- add-school form end -->


        <!-- buttons starts -->
        <div class="row ">
            <div class="col-12 d-flex justify-content-center">
                <!-- <span >
                <button type="button" class="btn btn-secondary me-2">Previous</button>
              </span> -->
                <button type="button" class="btn btn-secondary me-2"
                    [routerLink]="['/dashboard']">Cancel</button>

                <button type="submit" [disabled]="submitting" class="btn btn-success" (click)="onSubmit()">
                    {{submitting ? 'Submitting...' : 'Submit'}}
                </button>
            </div>
        </div>
        <!-- buttons ends -->









    </div>
</div>
<!-- add-school comntainer end -->