<app-topbar (toggleSidebarEvent)="toggleSidebar()"></app-topbar>
<app-sidebar [isSidebarClosed]="getSidebarToggle"></app-sidebar>


<!-- add-school comntainer start -->
<div class="container" [class.shifted]="isSidebarClosed">
    <div style="padding:15px 10px">
        <app-back-button [url]="'/dashboard'" class=""></app-back-button>
    </div>

    <div class="container-fluid d-flex flex-column  ">


        <!-- add-school form start -->
        <form style="margin-top:100px; margin:80px 25%;" [formGroup]="schoolDetailsForm" (ngSubmit)="onSubmit()"
            novalidate>

            <!-- School Name -->
            <div class="row mb-3">

                <label for="schoolName" class="col-sm-3 col-form-label"><span>School Name</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="schoolName" formControlName="schoolName" required>
                    <div
                        *ngIf="schoolDetailsForm.get('schoolName')?.invalid && (schoolDetailsForm.get('schoolName')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['required']">
                            School Name is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['maxlength']">
                            School Name must not exceed 100 characters.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolName')?.errors?.['pattern']">
                            Invalid Pattern .
                        </small>
                    </div>
                </div>
            </div>

            <!-- School Type -->
            <div class="row mb-3">

                <label for="schoolType" class="col-sm-3 col-form-label"><span>School Type</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <ng-multiselect-dropdown [placeholder]="'Select school type'"
                        [settings]="schoolTypeDropdownSettings" [data]="schoolTypes" formControlName="schoolTypeID" />
                    <!-- (onSelect)="changeSchoolType($event)" -->
                    <div
                        *ngIf="schoolDetailsForm.get('schoolTypeID')?.invalid && (schoolDetailsForm.get('schoolTypeID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('schoolTypeID')?.errors?.['required']">
                            School Type is required.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Address -->
            <div class="row mb-3">
                <label for="address" class="col-sm-3 col-form-label"><span>Address</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="address" rows="3" formControlName="address" required></textarea>
                    <div
                        *ngIf="schoolDetailsForm.get('address')?.invalid && (schoolDetailsForm.get('address')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('address')?.errors?.['required']">
                            Address is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('address')?.errors?.['maxlength']">
                            Address must not exceed 255 characters.
                        </small>
                    </div>
                </div>
            </div>

            <!-- City ID -->
            <div class="row mb-3">
                <label for="cityId" class="col-sm-3 col-form-label"><span>City</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <select class="form-control" id="schoolType" formControlName="cityID" required>
                        <option value="" disabled>Select City</option>
                        <option *ngFor="let city of cities" [ngValue]="city">{{ city.city }}</option>
                    </select>
                    <div
                        *ngIf="schoolDetailsForm.get('cityID')?.invalid && (schoolDetailsForm.get('cityID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('cityID')?.errors?.['required']">
                            City ID is required.
                        </small>
                    </div>
                </div>
            </div>

            <!-- State -->
            <div class="row mb-3">
                <label for="state" class="col-sm-3 col-form-label"><span>State</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="state" formControlName="state" required>
                    <div
                        *ngIf="schoolDetailsForm.get('state')?.invalid && (schoolDetailsForm.get('state')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('state')?.errors?.['required']">
                            State is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('state')?.errors?.['pattern']">
                            State must contain only letters.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Pincode -->
            <div class="row mb-3">
                <label for="pincode" class="col-sm-3 col-form-label"><span>Pincode</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="pincode" formControlName="pincode" required>
                    <div
                        *ngIf="schoolDetailsForm.get('pincode')?.invalid && (schoolDetailsForm.get('pincode')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('pincode')?.errors?.['required']">
                            Pincode is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('pincode')?.errors?.['pattern']">
                            Pincode must be a 6-digit number.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="email" class="col-sm-3 col-form-label"><span>Email</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                    <div
                        *ngIf="schoolDetailsForm.get('email')?.invalid && (schoolDetailsForm.get('email')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('email')?.errors?.['required']">
                            Email is required.
                        </small>

                        <small class="text-danger" *ngIf="schoolDetailsForm.get('email')?.errors?.['pattern']">Invalid
                            email format.</small>
                    </div>
                </div>
            </div>

            <!-- Phone -->
            <div class="row mb-3">
                <label for="phone" class="col-sm-3 col-form-label"><span>Phone</span><span
                        class="text-danger ms-1 mad-f">*</span></label>
                <div class="col-sm-9">

                    <div class="input-group">
                        <span class="input-group-text">+91</span>
                        <input type="text" class="form-control" id="phone" formControlName="phone" required>
                    </div>
                    <div
                        *ngIf="schoolDetailsForm.get('phone')?.invalid && (schoolDetailsForm.get('phone')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('phone')?.errors?.['required']">
                            Phone number is required.
                        </small>
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('phone')?.errors?.['pattern']">
                            Phone number must be a 10-digit number.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Status ID -->
            <!-- <div class="row mb-3">
            <label for="statusID" class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-9">
                <select class="form-control" id="statusID" formControlName="statusID" required>
                    <option value="" disabled>Select Status</option>
                    <option *ngFor="let status of statusList" [value]="status.id">{{ status.statusName }}</option>
                </select>
                <div *ngIf="schoolDetailsForm.get('statusID')?.invalid && (schoolDetailsForm.get('statusID')?.touched || submitted)">
                    <small class="text-danger" *ngIf="schoolDetailsForm.get('statusID')?.errors?.['required']">
                        Status selection is required.
                    </small>
                </div>
            </div>
        </div> -->

            <!-- Photo ID -->
            <!-- <div class="row mb-3">
                <label for="photoID" class="col-sm-3 col-form-label">Photo</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" id="photoID" (change)="onFileSelected($event)" required>
                    <div
                        *ngIf="schoolDetailsForm.get('photoID')?.invalid && (schoolDetailsForm.get('photoID')?.touched || submitted)">
                        <small class="text-danger" *ngIf="schoolDetailsForm.get('photoID')?.errors?.['required']">
                            Photo ID is required.
                        </small>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label">Photo</label>
                <div class="col-sm-7 d-flex align-items-center">

                    <input type="file" #fileInput style="display: none;" class="form-control" id="photoID"
                        (change)="onFileSelected($event)" required>


                    <button type="button" class="btn btn-md btn-teal-default-border me-3" (click)="fileInput.click()">
                        <i class="bi bi-upload"></i>
                        {{ schoolDetailsForm.get('photoID')?.value?.photoImageName &&
                        schoolDetailsForm.get('photoID')?.value?.photoImageName != 'No Document' &&
                        schoolDetailsForm.get('photoID')?.value?.photoImageName != '' ? "Update" : "Upload" }}
                    </button>


                    <div class="uploaded-file d-flex align-items-center">
                        <span>
                          
                            <img class="schoolImg" [src]="getSchoolImage || 'assets/icons/no-image.png'" alt="">
                            <strong class="ms-2">{{
                                schoolDetailsForm.get('photoID')?.value?.photoImageName?.substring(schoolDetailsForm.get('photoID')?.value?.photoImageName?.lastIndexOf('/')
                                + 1)}}</strong>
                        </span>
                    </div>


                </div>
      
            </div> -->


            <div class="row mb-2 mt-2">
                <label for="" class="col-sm-3 col-form-label b-label">
                    <span>Photo</span>
                    <span class="text-danger ms-1 mad-f">*</span>
                </label>
                <div class="col-sm-7">
                    <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="drag-drop-main">
                        <div class="custom-file-upload">
                            <div class="content">
                                <i class="bi bi-cloud-upload" style="font-size: 30px; color: #000000;"></i>
                                <p class="lab">Drag File To Upload</p>
                                <p class="or">or</p>
                                <input (change)="onSchoolImageChange($event)" #fileInput type="file" accept=".jpeg,.jpg"
                                    style="display: none;">
                                <button type="button" class="btn btn-primary" (click)=" fileInput.click()">Browse
                                    File</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2 mt-3" *ngIf="getDocument()">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                    <div class="uploaded-file">
                        <div style="display: flex; align-items: center; gap: 9px; padding: 0 0px;">
                            <img [src]="transform(getDocument())" alt="" style="width:28px; height:30px;">
                            <div class="r-l" style="display: flex; flex-direction: column; align-items: start;">
                                <p class="f-n" style="margin: 0;">{{ getTruncatedFileName(fileName, 25) }}</p>
                                <p class="f-s" *ngIf="fileSize" style="margin: 0;">{{ fileSize }} - 100% uploaded</p>
                            </div>
                        </div>
                        <div class="right me-3">
                            <i (click)="removeLeaveApplicationDocument()" class="fa-regular fa-trash-can"></i>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row mt-3" *ngIf="standardData.length && false ">


                <label for="phone" class="col-sm-12 col-form-label"><span> Add Class And Divisions( Design
                        1)</span><span class="text-danger ms-1 mad-f">*</span></label>

                <div class="col-sm-12">

                    <div class="add-std-details-sec">


                        <ng-container *ngFor="let std of standardData;let i=index;">
                            <div class="std-add-tbl mt-2">
                                <div class="std-head-sec2">

                                    <div class="center d-flex align-items-center">
                                        Standard {{ standardData[i].standard }}
                                    </div>

                                </div>

                                <table>

                                    <tr class="table-header-sec">
                                        <!-- <th>Standard {{i+1}}</th> -->
                                        <th>Division</th>
                                        <th>Student Count</th>
                                    </tr>
                                    <tr class="table-header">

                                        <!-- <th></th> -->
                                        <th style="border-left:0.8px solid #D9D9D9;">
                                            <input autofocus class="text-box" type="number"
                                                placeholder="Enter number of division" [(ngModel)]="divisionCount[i]"
                                                [ngModelOptions]="{standalone: true}" (input)="updateDivisions(i)" />
                                            <!-- <i 
                                                class="bi bi-plus-circle add-ic"></i> -->
                                            <img (click)="addDivisionInClass(i)" class="add-ic"
                                                src="../../../../assets/icons/class-add.png" alt="">
                                        </th>


                                        <th>
                                            <p class="status-msg ms-4">{{std.divisionData?.length}} Division Created</p>
                                        </th>

                                    </tr>

                                    <tr class="table-row" *ngFor="let item of std.divisionData;let j=index;">
                                        <!-- <td style="border:none"></td> -->

                                        <td>Division {{item.division}}hh

                                        </td>
                                        <td><input type="number" class="text-box" [(ngModel)]="item.studentCount"
                                                [ngModelOptions]="{standalone: true}" (input)="change()"
                                                placeholder="Enter count" /></td>
                                    </tr>

                                </table>


                            </div>
                        </ng-container>




                    </div>

                </div>
            </div>

            <div class="row mt-3" *ngIf="standardData.length && false">


                <label for="phone" class="col-sm-12 col-form-label"><span> Add Class And Divisions( Design
                        2)</span><span class="text-danger ms-1 mad-f">*</span></label>

                <div class="col-sm-12">

                    <div class="add-std-details-sec">

                        <ng-container *ngFor="let std of standardData;let i=index;">
                            <div class="std-add-tbl mt-2">

                                <table>

                                    <tr class="table-header-sec">
                                        <th>Standard {{i+1}}</th>
                                        <th>Division</th>
                                        <th>Student Count</th>
                                    </tr>
                                    <tr class="table-header">

                                        <th></th>
                                        <th style="border-left:0.8px solid #D9D9D9;">
                                            <input autofocus class="text-box" type="number"
                                                placeholder="Enter number of division" [(ngModel)]="divisionCount[i]"
                                                [ngModelOptions]="{standalone: true}" (input)="updateDivisions(i)" />
                                            <!-- <i 
                                                class="bi bi-plus-circle add-ic"></i> -->
                                            <img (click)="addDivisionInClass(i)" class="add-ic"
                                                src="../../../../assets/icons/class-add.png" alt="">
                                        </th>


                                        <th>
                                            <p class="status-msg ms-4">{{std.divisionData?.length}} Division Created</p>
                                        </th>

                                    </tr>

                                    <tr class="table-row" *ngFor="let item of std.divisionData;let j=index;">
                                        <td style="border:none"></td>

                                        <td>Division {{item.division}}</td>
                                        <td><input type="number" class="text-box" [(ngModel)]="item.studentCount"
                                                [ngModelOptions]="{standalone: true}" (input)="change()"
                                                placeholder="Enter count" /></td>
                                    </tr>

                                </table>


                            </div>
                        </ng-container>




                    </div>

                </div>
            </div>

            <div class="row mt-5" *ngIf="standardData.length && false ">


                <label for="phone" class="col-sm-12 col-form-label"><span> Add Class And Divisions ( design
                        3)</span><span class="text-danger ms-1 mad-f">*</span></label>

                <div class="col-sm-12">

                    <div class="add-std-details-sec">

                        <!-- <ng-container *ngFor="let std of standardData;let i=index;"> -->
                        <div class="std-add-tbl mt-2">

                            <table>

                                <tr class="table-header-sec">
                                    <th>Classes </th>
                                    <th>Division</th>
                                    <th>Student Count</th>
                                </tr>

                                <ng-container *ngFor="let std of standardData;let i=index;">
                                    <tr class="table-header">


                                        <td style="border:none">Standard {{i+1}}</td>
                                        <th style="border-left:0.8px solid #D9D9D9;">
                                            <input class="text-box" type="number" placeholder="Enter number of division"
                                                [(ngModel)]="divisionCount[i]" [ngModelOptions]="{standalone: true}"
                                                (input)="updateDivisions(i)" />
                                            <!-- <i 
                                                    class="bi bi-plus-circle add-ic"></i> -->
                                            <img (click)="addDivisionInClass(i)" class="add-ic"
                                                src="../../../../assets/icons/class-add.png" alt="">
                                        </th>


                                        <th>
                                            <p class="status-msg ms-4">{{std.divisionData?.length}} Division Created</p>
                                        </th>

                                    </tr>

                                    <tr class="table-row" *ngFor="let item of std.divisionData;let j=index;">
                                        <td style="border:none" *ngIf="j!== std.divisionData.length-1"></td>
                                        <td style="border-top:none" *ngIf="j== std.divisionData.length-1 "></td>

                                        <td>Division {{item.division}}</td>
                                        <td><input type="number" class="text-box" [(ngModel)]="item.studentCount"
                                                [ngModelOptions]="{standalone: true}" (input)="change()"
                                                placeholder="Enter count" /></td>
                                    </tr>
                                </ng-container>


                            </table>


                        </div>
                        <!-- </ng-container> -->




                    </div>

                </div>
            </div>


            <div class="row mt-5" *ngIf="standardData.length ">


                <label for="phone" class="col-sm-12 col-form-label"><span> Add Class And Divisions</span><span
                        class="text-danger ms-1 mad-f">*</span></label>

                <div class="col-sm-12">

                    <div class="add-std-details-sec">
                        <div class="std-head-sec">
                            <!-- Previous Button -->
                            <div class="left d-flex align-items-center">
                                <button type="button" title="Previous"
                                    class="btn btn-sm btn-light d-flex align-items-center justify-content-center"
                                    (click)="showPrevious()" [disabled]="currentIndex === 0">
                                    <i class="bi bi-chevron-left" style="font-size: 10px;  color: #000000;"></i>
                                </button>
                            </div>
                            <div class="center d-flex align-items-center">
                                Standard {{ standardData[currentIndex].standard | roman}}
                            </div>
                            <!-- Next Button -->
                            <div class="right d-flex align-items-center">
                                <button type="button" title="Next"
                                    class="btn btn-sm btn-light d-flex align-items-center justify-content-center"
                                    (click)="showNext()" [disabled]="currentIndex === standardData.length - 1">
                                    <i class="bi bi-chevron-right" style="font-size: 10px; color: #000000;"></i>
                                </button>
                            </div>
                        </div>

                        <ng-container>
                            <div class="std-add-tbl ">

                                <table>

                                    <tr class="table-header-sec">

                                        <th>Division</th>
                                        <th>Student Count</th>
                                    </tr>
                                    <tr class="table-header">


                                        <th
                                            style="border-left:0.8px solid #D9D9D9;display: flex;justify-content: space-between;">
                                            <input
                                            [style.visibility]="standardData[currentIndex].standard === 11 || standardData[currentIndex].standard === 12 ? 'hidden' : 'visible'"
                                                class="text-box" type="number" placeholder="Enter number of division"
                                                [(ngModel)]="divisionCount[currentIndex]"
                                                [ngModelOptions]="{standalone: true}"
                                                (input)="updateDivisions(currentIndex)" />
                                            <!-- <i style="float:right; color: #8F0000;position: relative;left:15px;"
                                                class="bi bi-plus-circle"></i> -->
                                            <img *ngIf="standardData[currentIndex].standard !== 11 && standardData[currentIndex].standard !== 12 ;"
                                                title="Add Division" (click)="addDivisionInClass(currentIndex)"
                                                class="add-ic" src="../../../../assets/icons/class-add.png" alt="">
                                            <img *ngIf="!(standardData[currentIndex].standard !== 11 && standardData[currentIndex].standard !== 12 )"
                                                title="Add Branch" (click)="addBranchInClass(currentIndex)"
                                                class="add-ic" src="../../../../assets/icons/class-add.png" alt="">
                                        </th>
                                        <th>
                                            <p class="status-msg ms-4">
                                                {{standardData[currentIndex].divisionData?.length}} Division Created</p>
                                        </th>

                                    </tr>

                                    <tr class="table-row"
                                        *ngFor="let item of standardData[currentIndex].divisionData;let j=index;">


                                        <td
                                            *ngIf="(standardData[currentIndex].standard !== 11 && standardData[currentIndex].standard !== 12 )">
                                            Division {{item.division}}
                                            <i title="Remove Division"
                                                style="float:right; color: #8F0000;position: relative;left:15px;background-color: white;"
                                                *ngIf="standardData[currentIndex].divisionData.length-1 === j &&  j!==0"
                                                (click)="removeDivisionInClass(currentIndex,j,item)"
                                                class="bi bi-dash-circle"></i>

                                        </td>
                                        <td
                                            *ngIf="!(standardData[currentIndex].standard !== 11 && standardData[currentIndex].standard !== 12 )">
                                            <input type="text" class="text-box-branch" [(ngModel)]="item.division"
                                                [ngModelOptions]="{standalone: true}" placeholder="Enter Branch " (input)="formatBranchName(item)" />

                                            <i title="Remove Branch"
                                                style="float:right; color: #8F0000;position: relative;left:15px;background-color: white;"
                                                
                                                (click)="removeDivisionInClass(currentIndex,j,item)"
                                                class="bi bi-dash-circle"></i>

                                        </td>
                                        <td style="border-left:none;"><input type="number" class="text-box"
                                                [(ngModel)]="item.studentCount" [ngModelOptions]="{standalone: true}"
                                                (input)="change()" placeholder="Enter count" /></td>
                                    </tr>

                                </table>


                            </div>
                        </ng-container>




                    </div>

                </div>

                <div class="ms-1" *ngIf="errorMsgForEmptyDivision.length > 0 || errorMsgForInvalidDivision.length > 0">
                    <!-- Prioritize missing divisions error message -->
                    <small *ngIf="errorMsgForEmptyDivision.length > 0 && errorMsgForInvalidDivision.length === 0"
                        class="text-danger">
                        <i class="fas fa-exclamation-circle"></i> <!-- Error icon -->
                        Standard ({{ errorMsgForEmptyDivision.join(",") }}) are missing divisions. Please add at least
                        one division.
                    </small>

                    <!-- Display invalid divisions error message only if there are no missing divisions -->
                    <small *ngIf="errorMsgForInvalidDivision.length > 0" class="text-danger">
                        <i class="fas fa-exclamation-triangle"></i> <!-- Warning icon -->
                        Please ensure that each division in standards ({{ errorMsgForInvalidDivision.join(",") }}) has a
                        valid name and student count.
                    </small>
                </div>

            </div>



            <!-- <div *ngIf="divisionsFormArray.controls.length !==0">
                <div class="row">
                    <label for="photoID" class="col-sm-3 col-form-label">Divisions</label>
                </div>


                <div class="row mb-3 mt-3" *ngFor="let division of divisionsFormArray.controls; let i = index"
                    formArrayName="divisions">
                    <label for="state" class="col-sm-3 col-form-label">Division {{i+1}}</label>
                    <div class="col-sm-4 mt-2" [formGroupName]="i">
                        <div class="input-group">
                            <input type="number" placeholder="Enter Student Count" class="form-control" id="phone"
                                formControlName="studentCount" required>

                        </div>
                        <div
                            *ngIf="division.get('studentCount')?.invalid && (division.get('studentCount')?.touched || submitted)">
                            <small class="text-danger" *ngIf="division.get('studentCount')?.errors?.['required']">
                                Student Count is required.
                            </small>

                        </div>
                    </div>
                </div>
            </div> -->




        </form>
        <!-- add-school form end -->


        <!-- buttons starts -->
        <div class="row ">
            <div class="col-12 d-flex justify-content-center">
                <!-- <span >
                <button type="button" class="btn btn-secondary me-2">Previous</button>
              </span> -->
                <button type="button" class="btn btn-secondary me-2" [routerLink]="['/dashboard']">Cancel</button>

                <button type="submit" [disabled]="submitting" class="btn btn-success" (click)="onSubmit()">
                    {{submitting ? 'Submitting...' : 'Submit'}}
                </button>
            </div>
        </div>
        <!-- buttons ends -->









    </div>
</div>
<!-- add-school comntainer end -->